In [1]:
import findspark
findspark.init()

### SparkContext oluşturma yöntem 1: SparkSession

In [14]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark import SparkContext

In [33]:
pyspark=SparkSession.builder \
.master('local[4]') \
.appName('Rdd_Oluşturmak') \
.config('spark.executer.memory','4g') \
.config('spark.driver.memory','2g') \
.getOrCreate()

In [34]:
sc=pyspark.sparkContext

In [7]:
sc.stop()

### SparkContext oluşturma yöntem 2: SparkSession and SparkConf

In [8]:
conf=SparkConf() \
.setMaster('local[4]') \
.setAppName('Rdd oluşturmak') \
.setExecutorEnv('spark.executer.memory','4g') \
.setExecutorEnv('spark.driver.memory','4g')

pyspark = SparkSession.builder \
.config(conf=conf) \
.getOrCreate()

In [10]:
sc=pyspark.sparkContext

In [13]:
sc.stop()

### SparkContext oluşturma yöntem 3: SparkContext and SparkConf

In [15]:
conf=SparkConf() \
.setMaster('local[4]') \
.setAppName('Rdd oluşturmak') \
.setExecutorEnv('spark.executer.memory','4g') \
.setExecutorEnv('spark.driver.memory','4g')

In [17]:
sc=SparkContext(conf=conf)

In [18]:
rdd=sc.parallelize([('Ahmet',25),('Cemal',29),('Inci',38),('Burcu',33)])

In [19]:
rdd.take(2)

[('Ahmet', 25), ('Cemal', 29)]

In [32]:
sc.stop()

### Python Listelerinden RDD oluşturmak

In [20]:
rdd2=sc.parallelize([['Ahmet',25],['Cemal',29],['Inci',38],['Burcu',33]])

In [23]:
rdd2.count()

4

In [24]:
sayilarRDD= sc.parallelize([[1,2,3],[4,5,6]])

In [25]:
sayilarRDD.take(2)

[[1, 2, 3], [4, 5, 6]]

### Python Sözlükten RDD oluşturmak

In [35]:
my_dict={'Öğrenci':['Ali','Mehmet','Ayşe'],
        'Notlar':[70,80,90]}

In [36]:
import pandas as pd
import warnings

In [37]:
pdDF=pd.DataFrame(my_dict)

In [38]:
pdDF.head()

  Öğrenci  Notlar
0     Ali      70
1  Mehmet      80
2    Ayşe      90

In [39]:
rdd_from_pandasDF = pyspark.createDataFrame(pdDF)

In [40]:
rdd_from_pandasDF.show()

+-------+------+
|Öğrenci|Notlar|
+-------+------+
|    Ali|    70|
| Mehmet|    80|
|   Ayşe|    90|
+-------+------+

In [41]:
rdd_from_pandas = rdd_from_pandasDF.rdd

In [42]:
rdd_from_pandas.take(3)

[Row(Öğrenci='Ali', Notlar=70),
 Row(Öğrenci='Mehmet', Notlar=80),
 Row(Öğrenci='Ayşe', Notlar=90)]

In [43]:
rdd_metin= sc.textFile('C:\\Users\\Goksun\\Downloads\\OnlineRetail.csv')

In [44]:
rdd_metin.take(10)

['InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country',
 '536365;85123A;WHITE HANGING HEART T-LIGHT HOLDER;6;1.12.2010 08:26;2,55;17850;United Kingdom',
 '536365;71053;WHITE METAL LANTERN;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;84406B;CREAM CUPID HEARTS COAT HANGER;8;1.12.2010 08:26;2,75;17850;United Kingdom',
 '536365;84029G;KNITTED UNION FLAG HOT WATER BOTTLE;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;84029E;RED WOOLLY HOTTIE WHITE HEART.;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;22752;SET 7 BABUSHKA NESTING BOXES;2;1.12.2010 08:26;7,65;17850;United Kingdom',
 '536365;21730;GLASS STAR FROSTED T-LIGHT HOLDER;6;1.12.2010 08:26;4,25;17850;United Kingdom',
 '536366;22633;HAND WARMER UNION JACK;6;1.12.2010 08:28;1,85;17850;United Kingdom',
 '536366;22632;HAND WARMER RED POLKA DOT;6;1.12.2010 08:28;1,85;17850;United Kingdom']